<h2 id="vanilla-lightbox">Lightbox</h2>
<p>A simple lightbox.</p>
<script class="script-visible" contenteditable>window.domReady(function(){
    var lb = new vanillaLightbox();
    $_('vanilla-lb-test').addEvent('click', function(e){
        window.eventPreventDefault(e);
        lb.setContent('<p>Hello World :)</p>');
        lb.open();
    });
    $$_('.lightbox-me').eachElement(function(el){
        el.addEvent('click', function(e){
            window.eventPreventDefault(e);
            lb.openLink(this.href);
        });
    });
});</script>
<p>
    <a href="#" id="vanilla-lb-test">Provided text</a> —
    <a href="../assets/img/slider1.jpg" class="lightbox-me">Image URL</a> —
    <a href="https://www.youtube.com/watch?feature=player_embedded&v=7IqvO5Ny8Qw" class="lightbox-me">Youtube URL</a> —
    <a href="https://vimeo.com/7916182" class="lightbox-me">Vimeo URL</a> —
    <a href="http://darklg.me" class="lightbox-me">External Link</a> —
    <a href="../assets/html/ajax.html" class="lightbox-me">Internal Link</a>
</p>