<h2 id="vanilla-fakeinputbox">Fake Input Box</h2>
<p>Fake Input checkbox</p>
<script class="script-visible" contenteditable>window.domReady(function(){
    $$_('input.fakeinputbox-me').eachElement(function(el){
        el.vanillaFakeInputBox();
    });
});</script>
<div class="script-result">
    <label><input class="fakeinputbox-me" type="checkbox" name="check-test" value="" /> Checkbox 1</label>
    <label><input class="fakeinputbox-me" type="checkbox" name="check-test2" value="" /> Checkbox 2</label>
<br />
    <label><input class="fakeinputbox-me" type="radio" name="radio-test" value="" /> Radio 1</label>
    <label><input class="fakeinputbox-me" type="radio" name="radio-test" value="" checked /> Radio 2</label>
</div>