<h2 id="vanilla-slider">Slider</h2>
<p>A simple slider.</p>
<script class="script-visible" contenteditable>window.domReady(function(){
    new vanillaSlider({
        slider: document.getElementById('target-slider')
    });
});</script>
<div id="target-slider">
    <div><img src="http://placehold.it/300x200" height="200" width="300" alt="" /></div>
    <div><img src="http://placehold.it/300x200/333/fff" alt="" /></div>
    <div><img src="http://placehold.it/300x200/903/fff" alt="" /></div>
</div>
