<header id="vanilla-slider" class="section-header">
    <div class="more">
        <a title="Download code" class="shm-dependency shm-dependency--core" target="_blank" href="assets/js/vanilla-js/libs/vanilla-events.js" download>vanilla-events.js</a>
        <a title="Download code" class="shm-dependency shm-dependency--core" target="_blank" href="assets/js/vanilla-js/libs/vanilla-elements.js" download>vanilla-elements.js</a>
        <a title="Download code" class="shm-dependency shm-dependency--core" target="_blank" href="assets/js/vanilla-js/libs/vanilla-classes.js" download>vanilla-classes.js</a>
        <a title="Download code" class="shm-dependency" target="_blank" href="assets/js/vanilla-js/plugins/vanilla-slider.js" download>vanilla-slider.js</a>
        <a title="Download code" class="shm-dependency" target="_blank" href="assets/css/dk-jsu-slider.css" download>dk-jsu-slider.css</a>
    </div>
    <h2>Slider</h2>
</header>
<p>A simple slider.</p>
<script class="script-visible" contenteditable>window.domReady(function(){
    new vanillaSlider({
        slider: document.getElementById('target-slider')
    });
});</script>
<div id="target-slider">
    <div><img src="assets/img/slider0.jpg" height="200" width="300" alt="" /></div>
    <div><img src="assets/img/slider1.jpg" height="200" width="300" alt="" /></div>
    <div><img src="assets/img/slider2.jpg" height="200" width="300" alt="" /></div>
</div>
