<h2 id="vanilla-fakeselect">Fake Select</h2>
<p>Fake selects with native UI for options/values.</p>
<script class="script-visible" contenteditable>window.domReady(function(){
    $_('test-vanillafakeselect').vanillaFakeSelect();
});</script>
<div>
    <select name="test-vanillafakeselect" id="test-vanillafakeselect">
        <option value="" disabled selected style="display:none;">Select me</option>
        <option value="0">Value</option>
        <option value="1">Other value</option>
    </select>
</div>