[submodule "modules/vanillaScrollAnims"]
	path = modules/vanillaScrollAnims
	url = https://github.com/JavaScriptUtilities/vanillaScrollAnims.git
[submodule "modules/vanillaPJAX"]
	path = modules/vanillaPJAX
	url = https://github.com/JavaScriptUtilities/vanillaPJAX.git
[submodule "modules/vanillaFakeSelect"]
	path = modules/vanillaFakeSelect
	url = https://github.com/JavaScriptUtilities/vanillaFakeSelect.git
[submodule "modules/vanillaLazyLoad"]
	path = modules/vanillaLazyLoad
	url = https://github.com/JavaScriptUtilities/vanillaLazyLoad.git
[submodule "modules/vanillaSticky"]
	path = modules/vanillaSticky
	url = https://github.com/JavaScriptUtilities/vanillaSticky.git
[submodule "modules/vanillaInfiniteScroll"]
	path = modules/vanillaInfiniteScroll
	url = https://github.com/JavaScriptUtilities/vanillaInfiniteScroll.git
[submodule "modules/vanillaMoveBlocks"]
	path = modules/vanillaMoveBlocks
	url = https://github.com/JavaScriptUtilities/vanillaMoveBlocks.git
[submodule "modules/vanillaJsuParallax"]
	path = modules/vanillaJsuParallax
	url = https://github.com/JavaScriptUtilities/vanillaJsuParallax.git
[submodule "modules/vanillaMorphHTMLNumber"]
	path = modules/vanillaMorphHTMLNumber
	url = https://github.com/JavaScriptUtilities/vanillaMorphHTMLNumber.git
[submodule "modules/vanillaJqAlt"]
	path = modules/vanillaJqAlt
	url = https://github.com/JavaScriptUtilities/vanillaJqAlt.git
[submodule "modules/vanillaLoading"]
	path = modules/vanillaLoading
	url = https://github.com/JavaScriptUtilities/vanillaLoading.git
[submodule "modules/vanillaSprite"]
	path = modules/vanillaSprite
	url = https://github.com/JavaScriptUtilities/vanillaSprite.git
[submodule "modules/vanillaMoveCards"]
	path = modules/vanillaMoveCards
	url = https://github.com/JavaScriptUtilities/vanillaMoveCards.git
[submodule "modules/vanillaTabs"]
	path = modules/vanillaTabs
	url = https://github.com/JavaScriptUtilities/vanillaTabs.git
[submodule "modules/vanillaAnimateWords"]
	path = modules/vanillaAnimateWords
	url = https://github.com/JavaScriptUtilities/vanillaAnimateWords.git
[submodule "modules/vanillaSaveNotes"]
	path = modules/vanillaSaveNotes
	url = https://github.com/JavaScriptUtilities/vanillaSaveNotes.git
