<link rel="stylesheet" type="text/css" href="assets/css/style.css?t=201405102221" />
<link rel="stylesheet" type="text/css" href="assets/css/fake-placeholder.css?t=201405102221" />
<link rel="stylesheet" type="text/css" href="assets/css/fake-select.css?t=201405102221" />
<link rel="stylesheet" type="text/css" href="assets/css/fake-upload.css?t=201405102221" />
<link rel="stylesheet" type="text/css" href="assets/css/fake-inputbox.css?t=201405102221" />
<link rel="stylesheet" type="text/css" href="assets/css/dk-jsu-slider.css?t=201404240745" />
<link rel="stylesheet" type="text/css" href="assets/css/dk-jsu-tabs.css?t=201405102221" />
<link rel="stylesheet" type="text/css" href="assets/css/dk-jsu-lightbox.css?t=201405102221" />
<link rel="stylesheet" type="text/css" href="assets/css/dk-jsu-elscroller.css?t=201405102221" />
</head>
<body>
<h1>{% if page.title %}<strong>{{ page.title }}</strong> - {% endif %}<a href="index.html">JavaScript Utilities</a></h1>
