<link rel="stylesheet" type="text/css" href="assets/css/style.css?t=201305171410" />
<link rel="stylesheet" type="text/css" href="assets/css/fake-placeholder.css" />
<link rel="stylesheet" type="text/css" href="assets/css/fake-select.css" />
<link rel="stylesheet" type="text/css" href="assets/css/fake-upload.css" />
<link rel="stylesheet" type="text/css" href="assets/css/fake-inputbox.css" />
<link rel="stylesheet" type="text/css" href="assets/css/dk-jsu-slider.css" />
<link rel="stylesheet" type="text/css" href="assets/css/dk-jsu-tabs.css" />
<link rel="stylesheet" type="text/css" href="assets/css/dk-jsu-lightbox.css" />
</head>
<body>
<h1>{% if page.title %}<strong>{{ page.title }}</strong> - {% endif %}<a href="index.html">JavaScript Utilities</a></h1>
