
<footer class="main-footer">
<p class="copyright">By <a href="http://darklg.me/">Darklg</a> — Licence MIT — <a href="http://github.com/Darklg/JavaScriptUtilities">Fork me on Github</a></p>
<ul class="footer-menu">
    <li>
        <h3><a href="mootools.html">Mootools</a></h3>
        <ul>
            <li><a href="mootools.html#moo-smooth-scroll">Smooth Scroll</a></li>
            <li><a href="mootools.html#moo-fake-placeholder">Placeholder</a></li>
            <li><a href="mootools.html#moo-fake-select">Fake Select</a></li>
            <li><a href="mootools.html#moo-fake-upload">Fake upload field</a></li>
            <li><a href="mootools.html#moo-fake-inputbox">Fake input box</a></li>
            <li><a href="mootools.html#moo-tabs">Tabs</a></li>
            <li><a href="mootools.html#moo-slider">Slider</a></li>
            <li><a href="mootools.html#moo-lightbox">Lightbox</a></li>
        </ul>
    </li>
    <li>
        <h3><a href="jquery.html">jQuery</a></h3>
        <ul>
            <li><a href="jquery.html#jq-smooth-scroll">Smooth Scroll</a></li>
            <li><a href="jquery.html#jq-fake-placeholder">Placeholder</a></li>
            <li><a href="jquery.html#jq-fake-select">Fake Select</a></li>
            <li><a href="jquery.html#jq-fake-upload">Fake upload field</a></li>
            <li><a href="jquery.html#jq-fake-inputbox">Fake input box</a></li>
            <li><a href="jquery.html#jq-tabs">Tabs</a></li>
            <li><a href="jquery.html#jq-slider">Slider</a></li>
        </ul>
    </li>
    <li>
        <h3><a href="vanilla-js.html">Vanilla JS</a></h3>
        <ul>
            <li><a href="vanilla-js.html#vanilla-utilities">Utilities</a></li>
            <li><a href="vanilla-js.html#vanilla-events">Events</a></li>
            <li><a href="vanilla-js.html#vanilla-display">Display</a></li>
            <li><a href="vanilla-js.html#vanilla-classes">CSS Classes</a></li>
        </ul>
        <h4>Plugins</h4>
        <ul>
            <li><a href="vanilla-plugins.html#vanilla-slider">Slider</a></li>
            <li><a href="vanilla-plugins.html#vanilla-lightbox">Lightbox</a></li>
        </ul>
    </li>
</ul>
</footer>
<a target="_blank" href="https://github.com/Darklg/JavaScriptUtilities" class="fork-me">Fork me on Github</a>
</body>
</html>