<header id="moo-fake-upload" class="section-header">
    <div class="more">
        <a title="Download code" class="shm-dependency" target="_blank" href="assets/js/mootools/classes/fake-upload/fake-upload.js" download>fake-upload.js</a>
        <a title="Download code" class="shm-dependency" target="_blank" href="assets/css/fake-upload.css" download>fake-upload.css</a>
    </div>
    <h2>Fake upload field</h2>
</header>
<p>Fake upload field with native UI for directory selection.</p>
<script class="script-visible" contenteditable>window.addEvent('domready',function(){
    $$('input.fake-upload').each(function(el){
        new FakeUpload(el);
    });
});</script>
<div class="script-result">
    <input type="file" name="fake-upload-test" class="fake-upload" />
</div>