@charset "UTF-8";

/* ----------------------------------------------------------
  Lightbox
---------------------------------------------------------- */

.lightbox.lb-is-hidden {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}

.lightbox {
    visibility: visible;
    opacity: 0.99;
    filter: alpha(opacity=99);
}

.lightbox-filter,
.lightbox {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.lightbox-content,
.lightbox-filter,
.lightbox {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lightbox-filter {
    background-color: #000;
    background-color: rgba(0,0,0,.30);
    cursor: pointer;
    filter: alpha(opacity=30);
}

/* Lightbox AJAX */

.lightbox-content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 580px;
    height: 380px;
    margin: auto;
    padding: 10px;
    max-height: 90%;
    max-width: 90%;
    overflow: auto;
    color: #333;
    background: #FFF;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
}

.fluid-lightbox .lightbox-content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
}

.fluid-lightbox .lightbox-content > img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

/* Lightbox message */

.lightbox[data-lb="message"] .lightbox-content {
    width: 300px;
    height: 75px;
    margin-top: -35px;
    margin-left: -150px;
}

.lightbox[data-lb="message"] p {
    margin: 0;
    text-align: center;
    font-size: 14px;
}

/* Lightbox image */

.lightbox[data-lb="image"] .lightbox-content {
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    width: auto;
    height: auto;
    margin: auto!important;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    background: transparent;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
}

.lightbox[data-lb="image"] img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

/* Lightbox iframe */

.lightbox[data-lb="iframe"] iframe {
    width: 100%;
    height: 377px;
    border: 0;
}

/* Lightbox vimeo */

.lightbox[data-lb="vimeo"] .lightbox-content {
    height: 328px;
    margin-top: -174px;
}

/* Elements
-------------------------- */

.main-close-lightbox,
.btn-go-lightbox {
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: rgba(0,0,0,.10);
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    cursor: pointer;
}

.lightbox-content:hover .main-close-lightbox,
.lightbox-content:hover .btn-go-lightbox {
    background-color: rgba(0,0,0,.50);
}

.lightbox-content:hover .main-close-lightbox:hover,
.lightbox-content:hover .btn-go-lightbox:hover {
    background-color: rgba(0,0,0,.90);
}

/* Close */

.main-close-lightbox {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 18px;
}

.main-close-lightbox:hover {
    border-color: #c0c0c0;
    background-color: #d0d0d0;
}

/* Arrows */

.btn-go-lightbox {
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    line-height: 30px;
}

.btn-go-lightbox.prev {
    left: 10px;
}

.btn-go-lightbox.prev:before {
    content: '←';
}

.btn-go-lightbox.next {
    right: 10px;
}

.btn-go-lightbox.next:before {
    content: '→';
}