@charset "UTF-8";

/* ----------------------------------------------------------
  Lightbox
---------------------------------------------------------- */

.lightbox.lb-is-hidden {
    visibility: hidden;
    opacity: 0.0;
    filter: alpha(opacity=0);
}

.lightbox {
    visibility: visible;
    opacity: 0.99;
    filter: alpha(opacity=99);
}

.lightbox-filter,
.lightbox {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.lightbox-content,
.lightbox-filter,
.lightbox {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lightbox-filter {
    background-color: #000;
    background-color: rgba(0,0,0,.30);
    cursor: pointer;
    filter: alpha(opacity=30);
}

.lightbox-filter:hover {
    background-color: rgba(0,0,0,.25);
    filter: alpha(opacity=25);
}

/* Lightbox AJAX */

.lightbox-content {
    top: 50%;
    left: 50%;
    width: 580px;
    height: 380px;
    margin-top: -200px;
    margin-left: -300px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: auto;
    background-color: #fff;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
    box-shadow: 0 0 3px rgba(0,0,0,.5);
}

/* Lightbox message */

.lightbox[data-lb="message"] .lightbox-content {
    width: 300px;
    height: 75px;
    margin-top: -35px;
    margin-left: -150px;
}

.lightbox[data-lb="message"] p {
    margin: 0;
    text-align: center;
    font-size: 14px;
}

/* Lightbox image */

.lightbox[data-lb="image"] .lightbox-content {
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
}

.lightbox[data-lb="image"] img {
    max-width: 100%;
}

/* Lightbox iframe */

.lightbox[data-lb="iframe"] iframe {
    width: 100%;
    height: 377px;
    border: 0;
}

/* Lightbox vimeo */

.lightbox[data-lb="vimeo"] .lightbox-content {
    height: 328px;
    margin-top: -174px;
}