@charset "UTF-8";

/* ----------------------------------------------------------
  Slider
---------------------------------------------------------- */

.dk-jsu-slider-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dk-jsu-slider-wrapper {
    z-index: 1;
    position: relative;
    width: 300px;
    height: 200px;
}

/* Slides */

.dk-jsu-slide {
    background-color: #fff;
}

/* Navigation */

.dk-jsu-slider-wrapper .navigation {
    top: 50%;
    right: 10px;
    left: 10px;
    height: 16px;
    margin-top: -8px;
    line-height: 16px;
}

.dk-jsu-slider-wrapper .navigation .prev,
.dk-jsu-slider-wrapper .navigation .next {
    font-size: 12px;
    cursor: pointer;
}

.dk-jsu-slider-wrapper .navigation .prev {
    float: left;
}

.dk-jsu-slider-wrapper .navigation .next {
    float: right;
}

/* Pagination */

.dk-jsu-slider-wrapper .pagination {
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    line-height: 10px;
}

.dk-jsu-slider-wrapper .pagination span {
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
    cursor: pointer;
    *display: inline;
    *zoom: 1;
}

.dk-jsu-slider-wrapper .pagination .current,
.dk-jsu-slider-wrapper .pagination span:hover {
    color: #369;
}