@charset "UTF-8";

/* ----------------------------------------------------------
  Fake Select
---------------------------------------------------------- */

.fakeselect-wrapper {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.fakeselect-cover {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fakeselect-wrapper select,
.fakeselect-cover {
    height: 100%;
    font: inherit;
}

.fakeselect-wrapper select {
    cursor: pointer;
}

.fakeselect-wrapper select[disabled] ~ .fakeselect-cover,
.fakeselect-wrapper select[disabled] {
    cursor: not-allowed;
}

/* CSS/JS
-------------------------- */

.vanilla-fakeselect {
    z-index: 1;
    position: relative;
}

.vanilla-fakeselect select,
.vanilla-fakeselect .fakeselect-cover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.vanilla-fakeselect select {
    z-index: 2;
    -webkit-appearance: menulist-button;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.01;
    filter: alpha(opacity=1);
}

.vanilla-fakeselect .fakeselect-cover {
    right: 0;
}

/* Theme
-------------------------- */

.fakeselect-wrapper {
    height: 25px;
    max-width: 150px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 25px;
    background-color: #fff;
}

.fakeselect-wrapper.has-focus {
    border: 1px solid #999;
    background-color: #f0f0f0;
}

.fakeselect-wrapper:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 4px solid #333;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.fakeselect-cover {
    padding: 0 25px 0 5px;
}