@charset "UTF-8";

/* Base style
   ----------------------- */

html {
    padding: 0 20px;
    text-align: center;
}

body {
    margin: 15px auto;
    padding-bottom: 30px;
    max-width: 780px;
    min-width: 480px;
    text-align: left;
    font: 62.5% sans-serif;
}

h1 {
    margin-bottom: 15px;
    font-size: 18px;
}

h1 strong {
    font-size: 22px;
}

h1 a {
    text-decoration: none;
}

h2 {
    margin: 30px 0 15px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    line-height: 20px;
}

h3 {
    margin: 15px 0 7px;
    font-size: 14px;
    line-height: 18px;
}

h4 {
    margin: 15px 0 5px;
    font-size: 13px;
    line-height: 18px;
}

.script-visible + h3,
.script-result + h3,
code + h3 {
    margin-top: 20px;
}

p,
li {
    font-size: 13px;
    line-height: 18px;
}

p,
ul {
    margin-bottom: 7px;
}

a {
    color: #369;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover,
a:focus {
    color: #9cf;
}

a:visited {
    color: #036;
}

a:active {
    color: #000;
}

.shm-dependency {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Footer
   ----------------------- */

.main-footer {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    overflow: hidden;
}

.main-footer li,
.main-footer p {
    font-size: 12px;
    line-height: 18px;
}

.footer-menu {
    clear: both;
    padding: 0;
}

.footer-menu ul {
    padding-left: 0;
}

.footer-menu li {
    list-style: none;
}

.footer-menu li li:before {
    content: '— ';
    color: #999;
}

.footer-menu > li {
    float: left;
    width: 25%;
}

.footer-menu a {
    text-decoration: none;
    font-weight: bold;
}

.footer-menu a:hover {
    text-decoration: underline;
}

/* Section
   ----------------------- */

.section-header .more {
    float: right;
}

.shm-dependency {
    display: inline-block;
    padding: 1px 2px;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 11px;
    color: #999;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    *display: inline;
    *zoom: 1;
}

.shm-dependency--core {
    border-color: #DDD;
    color: #AAA;
}

.shm-dependency:hover {
    border: 1px solid #333;
    color: #333;
}

/* Demo style
   ----------------------- */

.script-result {
    border: 1px solid #f0f0f0;
    background-color: #fafafa;
}

.script-result,
.script-visible {
    padding: 5px;
    font-size: 13px;
}

/* Script style
   ----------------------- */

.script-visible {
    display: block;
    margin: 7px 0;
    border: 1px solid #ccc;
    font-family: Courier;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background-color: #f0f0f0;
}

.script-visible:focus {
    outline: 1px solid #ccc;
}

/* Fork me
-------------------------- */

.fork-me {
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 149px;
    height: 149px;
    overflow: hidden;
    text-align: left;
    text-indent: -999px;
    opacity: 0;
    background: transparent url(../img/fork-me.png) no-repeat center top;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    filter: alpha(opacity=0);
}

@media(min-width:1000px) {
    .fork-me {
        visibility: visible;
        opacity: 0.99;
        filter: alpha(opacity=99);
    }
}

/* ----------------------------------------------------------
   Demos
   ------------------------------------------------------- */

/* Classes
   ----------------------- */

.color-red {
    color: red;
}