{% include before-head.html %}
<script src="assets/js/vanilla-js/libs/vanilla-common.js?v=1.5.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-ajax.js?v=1.0.2"></script>
<script src="assets/js/vanilla-js/libs/vanilla-arrays.js?v=1.0.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-canvas.js?v=2.2.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-classes.js?v=1.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-cookies.js?v=1.0"></script>
<script src="assets/js/vanilla-js/libs/vanilla-elements.js?v=1.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-events.js?v=1.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-selectors.js?v=1.0.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-tests.js?v=1.0"></script>
{% include after-head.html %}
{{ content }}
{% include footer.html %}