{% include before-head.html %}
<script src="assets/js/vanilla-js/libs/vanilla-common.js?v=1.12"></script>
<script src="assets/js/vanilla-js/libs/vanilla-ajax.js?v=1.0.2"></script>
<script src="assets/js/vanilla-js/libs/vanilla-arrays.js?v=1.0.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-canvas.js?v=2.8"></script>
<script src="assets/js/vanilla-js/libs/vanilla-classes.js?v=1.2.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-cookies.js?v=1.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-elements.js?v=2.1.2"></script>
<script src="assets/js/vanilla-js/libs/vanilla-events.js?v=1.9"></script>
<script src="assets/js/vanilla-js/libs/vanilla-selectors.js?v=1.1.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-tests.js?v=1.1"></script>
<script src="assets/js/vanilla-js/libs/vanilla-touch.js?v=0.4"></script>
<script src="assets/js/vanilla-js/libs/vanilla-getusermedia.js?v=0.2"></script>
<script src="assets/js/vanilla-js/libs/vanilla-geolocalisation.js?v=0.1"></script>
<script src="assets/js/vanilla-js/plugins/vanilla-slider.js?v=1.0.2"></script>
<script src="assets/js/vanilla-js/plugins/vanilla-lightbox.js?v=0.6"></script>
<script src="assets/js/vanilla-js/plugins/vanilla-fakeselect.js?v=0.2.3"></script>
<script src="assets/js/vanilla-js/plugins/vanilla-pjax.js?v=0.4"></script>
<script src="assets/js/vanilla-js/plugins/vanilla-tabs.js?v=0.2"></script>
<script src="assets/js/vanilla-js/plugins/vanilla-formchecker.js?v=0.2"></script>
<script src="assets/js/vanilla-js/plugins/vanilla-fakeinputbox.js?v=0.2"></script>
<script src="assets/js/vanilla-js/plugins/vanilla-responsive-images.js?v=0.2"></script>
<script src="assets/js/vanilla-js/plugins/vanilla-sticky.js?v=0.4"></script>
<!--[if lt IE 9 ]><script src="assets/js/vanilla-js/libs/vanilla-ie.js?v=0.3"></script><![endif]-->
{% include after-head.html %}
{{ content }}
{% include footer.html %}