{% include before-head.html %}
<script src="assets/js/mootools/mootools-1.4.5.min.js?v=1.0"></script>
<script src="assets/js/mootools/mootools-more-1.4.0.1.js?v=1.0"></script>
<script src="assets/js/mootools/mootools-dk-jsu.js?v=1.0"></script>
<script src="assets/js/mootools/classes/fake-placeholder.js?v=1.0"></script>
<script src="assets/js/mootools/classes/fake-select.js?v=1.0"></script>
<script src="assets/js/mootools/classes/fake-upload.js?v=1.0"></script>
<script src="assets/js/mootools/classes/dk-jsu-slider.js?v=1.0"></script>
<script src="assets/js/mootools/classes/dk-jsu-lightbox.js?v=1.0.1"></script>
<script src="assets/js/mootools/classes/dk-smooth-scroll.js?v=1.0"></script>
<script src="assets/js/mootools/classes/dk-jsu-tabs.js?v=1.0"></script>
{% include after-head.html %}
{{ content }}
{% include footer.html %}